<style>
  header h1{
    border-bottom: 1px solid gray;
    padding:20px;
  }
  nav{
    border-right: 1px solid gray;
    width:200px;
    height:600px;
    float:left;
  }
  nav ol{
    list-style:none;
  }
  nav ol li{
    height:50px;
  }
  article{
    float:left;
    padding:20px
  }
  h2{
    font-size : 60px
  }
</style>
