


  body.white{
    background-color:white;
    color:black;
  }
  body.black{
    background-color:black;
    color:white;
  }
  nav ol{
      padding:30px;
      list-style:none;

    }
.contaner-fluid{
  padding-top:20px;
}
